<section class="bar background-white" id="more-about">
    <div class="moreabout container">
        <h1 class="section-title">More About Maddie</h1>
        <div id="about-me">
            <div class="row">
                <div class="col-md-6">
                        <img class="img-fluid" src="img/about_contrast.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p class="tagline">I will support every student in Schmid for each endeavor they take on.</p>
                    <p class="accolade">I coordinated commercials for Khan academy to promote academics
                    </p>
                    <p class="accolade">I co-founded the Physics club in high school to aid other student’s grasp and appreciation of the subject
                    </p>
                    <p class="accolade">I have over 1,000 hours volunteering at George Nyea Jr. Library
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>